<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Post a Cat</title>
</head>
<body>
  <h1>Post a New Cat!</h1>
  <form action="/cats" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" />
    <label for="isReadyToAdopt">Ready to Adopt?</label>
    <input type="checkbox" name="isReadyToAdopt" id="isReadyToAdopt" />
    <button type="submit">Add Fruit</button>
  </form>
  <a href="/cats/">Back to Cats</a>
</body>
</html>